{% extends 'base.html' %}
{% block content %}

<div class="row">
        <h1 class="mt-4 ps-2 fs-2">Formulario de login</h1>
        <div class="row mt-3">
            <div class="col">
              <form method="post" action="" class="p-2">
                    {{FormLogin.csrf_token}}
                    <legend>login</legend>
                    <fieldset>
                        <div class="form-group mb-2">
                            {{FormLogin.email.label (class="form-control-label") }}
                            {% if FormLogin.email.errors %}
                                {{ FormLogin.email (class="form-control is-invalid")}}
                                <div class="invalid-feedback">
                                    {% for error in FormLogin.email.errors %}
                                        {{error}}
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{FormLogin.email (class="form-control")}}
                            {% endif %}
                        </div>
                        <div class="form-group mb-2">
                            {{FormLogin.senha.label (class="form-control-label")}}
                            {{FormLogin.senha (class="form-control")}}
                        </div>
                    </fieldset>
                    {{FormLogin.submitLogin (class="btn btn-primary mt-2")}}
              </form>
            </div>
            <div class="col">
                <form method="post" action="" class="p-2">
                    {{FormNovoUsuario.csrf_token}}
                    <legend>Novo usuario</legend>
                    <fieldset>
                        <div class="form-group mb-2">
                            {{FormNovoUsuario.nome.label (class="form-control-label")}}
                            {{FormNovoUsuario.nome (class="form-control")}}
                        </div>
                        <div class="form-group mb-2">
                            {{FormNovoUsuario.email.label (class="form-control-label")}}
                            {{FormNovoUsuario.email (class="form-control")}}
                        </div>
                        <div class="form-group mb-2">
                            {{FormNovoUsuario.senha.label (class="form-control-label")}}
                            {{FormNovoUsuario.senha (class="form-control")}}
                        </div>
                        <div class="form-group mb-2">
                            {{FormNovoUsuario.senhaCOnfirmarção.label (class="form-control-label")}}
                            {{FormNovoUsuario.senhaCOnfirmarção (class="form-control")}}
                        </div>
                        <div class="form-group mb-2">
                            {{FormNovoUsuario.celular.label (class="form-control-label")}}
                            {{FormNovoUsuario.celular (class="form-control")}}
                        </div>
                        <div class="form-group mb-2">
                            {{FormNovoUsuario.cpf.label (class="form-control-label")}}
                            {{FormNovoUsuario.cpf (class="form-control")}}
                        </div>
                    </fieldset>
                    {{FormNovoUsuario.submitNovo (class="btn btn-primary mt-2")}}
                </form>
            </div>
        </div>
</div>

{% endblock %}